agate==1.6.1
agate-dbf==0.2.1
agate-excel==0.2.3
agate-sql==0.5.4
alabaster==0.7.12
altgraph==0.16.1
amqp==2.5.0
ansible==2.8.1
ansiwrap==0.8.4
anyio==1.0.0
appdirs==1.4.3
argh==0.26.2
args==0.1.0
arrow==0.14.2
asks==2.3.3
astor==0.8.0
astroid==2.2.5
async-exit-stack==1.0.1
async-generator==1.10
atomicwrites==1.3.0
attr==0.3.1
attrs==19.1.0
Automat==0.7.0
Babel==2.7.0
backcall==0.1.0
backports.csv==1.0.7
billiard==3.6.0.0
binaryornot==0.4.4
black==19.3b0
bleach==3.1.0
boltons==19.1.0
bump2version==0.5.10
cachelib==0.1
celery==4.3.0
click==6.7
click-default-group==1.2.2
clint==0.5.1
cloudpickle==1.2.1
colorama==0.4.1
colour==0.1.5
configobj==5.0.6
configparser==3.8.1
constantly==15.1.0
cookiecutter==1.6.0
coverage==4.5.3
cssselect==1.0.3
csvkit==1.0.4
Cython==0.29.11
dash==1.2.0
dash-core-components==1.1.2
dash-html-components==1.0.1
dash-renderer==1.0.1
dash-table==4.2.0
dbfread==2.0.7
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.5
doc8==0.8.0
docker==4.0.2
docker-py==1.10.6
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.14
doit==0.31.1
et-xmlfile==1.0.1
face==19.1.2
feedgenerator==1.9
feedparser==5.2.1
Flask==1.1.0
Flask-Compress==1.4.0
funcparserlib==0.3.6
future==0.17.1
fuzzyfinder==2.1.0
gitsome==0.8.4
Glances==3.1.0
glom==19.2.0
h11==0.9.0
howdoi==1.2.1
httpie==1.0.2
hy==0.17.0
hyperlink==19.0.0
imagesize==1.1.0
importlib-metadata==0.18
incremental==17.5.0
invoke==1.2.0
ipdb==0.12.1
ipykernel==5.1.1
ipyparallel==6.2.4
ipython==7.6.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.0
Jinja2==2.10.1
jinja2-time==0.2.0
json5==0.8.4
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-core==4.5.0
jupyter-server==0.1.0
jupyterlab==1.0.1
jupyterlab-pygments==0.1.0
jupyterlab-server==1.0.0
jupytext==1.1.7
kaptan==0.5.12
kombu==4.6.3
lazy-object-proxy==1.4.1
leather==0.3.3
libtmux==0.8.2
livereload==2.6.1
Logbook==1.4.3
lxml==4.3.4
mailmerge==1.9
Mako==1.0.13
manimlib==0.1.10
mario==0.0.140
mario-addons==0.1.29
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==3.0.0rc8
mccabe==0.6.1
meld3==1.0.2
mistune==0.8.4
mock==3.0.5
more-itertools==7.1.0
mypy==0.711
mypy-extensions==0.4.1
natsort==6.0.0
nbconvert==5.5.0
nbformat==4.4.0
Nikola==8.0.2
notebook==5.7.8
numpy==1.15.0
numpydoc==0.9.1
opencv-python==3.4.2.17
openpyxl==2.6.3
outcome==1.0.0
packaging==19.0
pandocfilters==1.4.2
papermill==1.0.1
parsedatetime==2.4
parsel==1.5.1
parso==0.4.0
pathtools==0.1.2
pelican==4.1.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==5.2.0
pkginfo==1.5.0.1
plotly==4.1.1
pluggy==0.12.0
ply==3.11
port-for==0.3.1
poyo==0.4.2
profiling==0.1.3
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==1.0.16
psutil==5.6.3
ptpython==2.0.4
ptyprocess==0.6.0
py==1.8.0
py-pretty==1
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAutoGUI==0.9.45
pycairo==1.17.1
PyDispatcher==2.0.5
pydub==0.23.0
PyGetWindow==0.0.6
PyGithub==1.43.7
Pygments==2.4.2
PyHamcrest==1.9.0
pyinotify==0.9.6
PyInstaller==3.5
pylint==2.3.1
PyMsgBox==1.0.7
pynvim==0.3.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyquery==1.4.0
PyRect==0.1.4
pyrsistent==0.15.2
PyRSS2Gen==1.1
PyScreeze==0.1.22
pyte==0.8.0
pytest==5.0.1
python-ctags==1.0.6
python-docx==0.8.10
python-slugify==3.0.3
python3-xlib==0.15
pytimeparse==1.1.8
PyTweening==1.0.3
pytz==2016.10
PyYAML==5.1.1
pyzmq==18.0.2
queuelib==1.5.0
ranger-fm==1.9.2
readme-renderer==24.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.0
retrying==1.3.3
rise==5.5.0
rply==0.7.7
scapy==2.4.3
schedule==0.6.0
scipy==1.1.0
Scrapy==1.6.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
sniffio==1.1.0
snowballstemmer==1.9.0
sortedcontainers==2.1.0
Sphinx==2.1.2
sphinx-autobuild==0.7.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.17
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
splinter==0.11.0
SQLAlchemy==1.3.8
stevedore==1.30.1
supervisor==4.0.4
tabulate==0.8.3
tenacity==5.0.4
termcolor==1.1.0
terminado==0.8.2
termtosvg==0.8.0
testfixtures==6.10.0
testpath==0.4.2
text-unidecode==1.2
textwrap3==0.9.2
tldr==0.5
tmuxp==1.5.3
toml==0.10.0
toolz==0.9.0
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
trio==0.11.0
trio-typing==0.2.0
twine==1.13.0
Twisted==19.2.1
typed-ast==1.4.0
typing-extensions==3.7.4
Unidecode==1.1.1
uritemplate==3.0.0
uritemplate.py==3.0.2
urwid==2.0.1
valuedispatch==0.0.1
vine==1.3.0
voila==0.1.8
w3lib==1.20.0
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.4
wharfee==0.10
whichcraft==0.5.2
widgetsnbextension==3.5.0
wrapt==1.11.2
xlrd==1.2.0
xmltodict==0.12.0
xonsh==0.9.7
Yapsy==1.12.0
zipp==0.5.1
zope.interface==4.6.0
